<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseProvider" value="SqlServer" />
  </appSettings>
  <connectionStrings>
    <add name="TestDatabase"
         connectionString="Data Source=DESKTOP-RQEALJO;Initial Catalog=FIK_ORM_Test;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
